{% extends 'base.html' %}

{% block content %}
{% for year, posts in entries %}
<div class="archives" id="{{ year }}"><h2>{{ year }}</h2>
	<div class="archives-inner">
		{% for post in posts %}
		<div class="blog-post">
			<h3 class="blog-post-title"><a href="{{post.link}}">{{ post.title }}</a></h3>
			<p class="blog-post-meta">
			{{ post.date | date('d/m/Y') }} by {{ post.author }} - 
			{% if post.tags %}
			{% for tag in post.tags %}
			<a class='category' href="/tags/{{ tag }}">{{ tag }}</a>
			{% endfor %}
			{% endif %}
			</p>
			{{ post.intro }}

			<div class="blog-post-more">
				<a href="{{post.link}}">{{ lang('readmore') }} &#8594;</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock %}

