{% extends 'base.html' %}
{% block title %}{{ post.title }} - {{ config.title }} {% endblock %}

{% block content %}
<div class="blog-post">                                                  
	<h2 class="blog-post-title">{{ post.title }}</h2>
	<p class="blog-post-meta">{{ post.date | date('d/m/Y') }} by {{post.author}}</p>

	{{ post.html|raw }}

    <div class="blog-post-tags">
		{% if post.tags %}
			<div class="tags">
				{{ lang('tags') }}：
				{% for tag in post.tags %}
					<a href="/tags/{{ tag }}">{{ tag }}</a>
			    {% endfor %}
			</div>
        {% endif %}
    </div>
    {% include 'include/comments.html' %}
</div>

{% endblock %}
