{% for post in posts %}
	<div class="blog-post">
		<h2 class="blog-post-title"><a href="{{post.link}}">{{ post.title }}</a></h2>
		<p class="blog-post-meta">
			{{ post.date | date('d/m/Y') }} by {{post.author}} - 
			{% if post.tags %}
				{% for tag in post.tags %}
				<a class='category' href="/tags/{{ tag }}">{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</p>
		{{ post.intro }}
	
		<div class="blog-post-more">
			<a href="{{post.link}}">{{ lang('readmore') }} &#8594;</a>
		</div>
	</div>
{% endfor %}

{% include 'include/paginator.html' %}
